<form method="post" action="/landmarks/<%= @landmark.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Edit Landmark:</label><br>
  <input id="name" type="text" value="<%= @landmark.name %>" name="landmark[name]"><br>

  <label for="">Edit Year Completed</label><br>
  <input id="year_completed" type="text" value="<%= @landmark.year_completed %>" name="landmark[year_completed]">

  <input type="submit" value="Edit Landmark">

</form>