<h1>Create New Landmark</h1>
<form action="/landmarks" method="post">
  <label for="name">Name:</label>
  <input type="text" id="landmark_name" name="landmark[name]"><br>
  <label for="year">Year Completed:</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br>
  <br>
  <input type="submit" value="Create New Landmark">
</form>